/*Fichier .css du projet !*/

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color:dimgray;
    padding: 35px;
    margin: 0;
}

h2 {
    background-color: rgba(77, 77, 77, 0.1);
    margin: 20px;
    border: 2px solid;
    border-color: yellow;
}

h3#Questions {
    background-color: white;
    margin: 20px;
    border: 2px solid;
    border-color: red;
    font-size: 25px;
    user-select: none;
    font-family: cursive;
    text-align: center;
    padding: 15px;
}

h4 {
    font-weight: 350;
}


#titre {
    font-size: 25px;
    font-family: fantasy;
    color: green;
    text-align: center;
}



#quest1 {
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    color: rgb(232, 176, 23);
}

#quest2 {
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    color: rgb(208, 68, 68);
}

.button {
    user-select: none;
    font-family: cursive;
    margin: 8px;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-color: red;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    transition-duration: 0.6s;
}


.button:hover {
    background-color: rgb(232, 176, 23);
    color: black;
}


#menu {
    display: flex;
    padding: 10px;
    background-color: grey;
    justify-content: center;
    margin: 0;
}

#menu li {
    list-style-type: none ;
}

#menu a {
    display:block;
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;
    background-color: grey;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 4px;          
}

#menu a:hover {
    background-color:rgb(77, 77, 77);
    color: white;
    border-color: white;
  }

#bvn {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 24px;
}

#q {
    text-align: center;
    color: black;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
}

#infos {
    text-align: left;
    padding: 10px;
}

strong {
    color: black;
    font-size: 20px;
}

em {
    color: black;
}

#commencer {
    user-select: none;
    background-color: rgb(232, 176, 23);
    box-shadow: 0 5px 0 rgb(208, 68, 68);
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 0.8em 1.8em;
    position: relative;
    text-decoration: none;
    border-color: black;
    border-radius: 5px;
}


#commencer:hover {
    background-color: rgb(208, 68, 68);
    color: white;
    box-shadow: 0 5px 0 rgb(232, 176, 23);
    border-color: black;
    border-radius: 10px;
}

#choixpeau {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    opacity: 85%;
    padding: 20px;
}

#commence {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    opacity: 86%;
    padding: 5px;
}

html, body{
    margin: 0;
    padding: 0;
    text-align: center;
    }

hr {
    padding: 0;
    background-color: grey;
    font-weight: bold;
}

#F5{
    margin: 50px;
    padding: 15px;
}

#footer-basic {
    padding: 5px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
#footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
#footer-basic li {
    padding:0 10px;
}
  
#footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
#footer-basic ul a:hover {
    opacity:1;
}
  
#footer-basic .copyright {
   margin-top:15px;
   text-align:center;
   font-size:13px;
   color:#aaa;
   margin-bottom:0;
}